// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

@import url('https://fonts.googleapis.com/css?family=Roboto');
$background-color: #E5E5E5; 
$main-button: #32a2d1;
$font-family: 'Roboto', sans-serif;
$text-mute: #B2B2B2;
body {
  background-color: $background-color;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 8% auto;
  grid-template-columns: auto 500px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  font-family: $font-family;
}

.top-nav {
  grid-row: 1;
  grid-column: 1 / 3;
  background-color: white; 
}

.main-content {
  grid-row: 2;
  grid-column: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 20px;

  > .content {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

.side-content {
  grid-row: 2;
  grid-column: 2;
  width: 65%;
  > .popular {
    background-color: white;
    border-radius: 10px;
  }

  > .advertisement {
    background-color: yellow;
  }
}

.navbar {
  display: inline-flex;
  width: 100%;
  list-style: none;
  padding: 5px 20px;
  margin: 0;
  box-sizing: border-box;
  justify-content: space-between;
  > .button-group {
    display: flex;
    padding: 8px 0;
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  > li ion-icon {
    font-size: 20px;
    background-color: $main-button;
    border-radius: 50%;
    padding: 4px;
    width: 20px;
    height: 20px;
    color: white;
    margin-top: 8px;
  }
  
  > li .logo-text {
    font-size: 14px;
    line-height: 3.3;
    margin-left: 8px;
  }

  > li .post-body {
    font-size: 14px;
    line-height: 3.3;
    margin-left: 40px;
  }
}

.list {
  display: flex;
  padding: 8px 0;
  > li ion-icon {
    font-size: 24px;
    font-weight: 400;
    padding: 4px;
  }
  > li ion-icon:hover {
    transition: background-color 0.8s ease;
    background-color: $main-button;
    color: white;
  }
  > .search input {
    padding: 8px;
    margin: 0 12px;
    border: 0;
    background-color: $background-color;
    min-width: 500px;
  }
}
.content {
  display: grid;
  grid-template-columns: 5% auto;
  > .side-bar {
    grid-column: 1;
  }
  > .inner-content {
    grid-column: 2;
    grid-row: 1;
  }

  > .comment-section {
    grid-column: 1 / 3;
    padding: 20px 15px;
  }
}

.side-bar {

  padding: 8px;
  border-radius: 10px 0 0 10px;
  > ion-icon {
    font-size: 24px;
    padding: 4px;
  }
  > span {
    font-size: 12px;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }
  
}

.inner-content {
  padding: 12px 28px 12px 12px;

  > .title {
    padding: 8px 0;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight: bold;
  }
}

.option-list {
    display: flex;
    align-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 12px 0 0 0;

    > .comment-bar ion-icon {
      font-size: 14px;
      color: $text-mute;
      padding: 0;
    }
    
    > .comment-bar span {
      font-size: 14px;
      margin: 0 6px 0 2px;
      color: $text-mute;
      text-decoration: none;
    }

    > .share ion-icon {
      font-size: 14px;
      margin: 0 2px 0 6px;
      color: $text-mute;
      padding: 0;
    }

    > .share span {
      font-size: 14px;
      color: $text-mute;
      padding: 0;
    }

    > .more {
      font-size: 20px;
      font-weight: bold;
      padding: 0 0 0 12px;
      color: $text-mute ;
    }

}

.user {
  display: flex;
  flex-direction: row;
  > .thread {
    font-size: 12px;
    font-weight: 600; 
    padding: 4px; 
    letter-spacing: 0.5px;
  }
  > .icon {
    background-color: #B13232;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  > .posted-by {
    font-size: 12px;
    padding: 4px;
    color: $text-mute;
    letter-spacing: 0.5px;
  }
}


.popular {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  > .head {
    height: 60px; 
    background-image: url('http://romeostreeservice.com/communities/6/000/001/644/016//images/12819213.png');
    border-radius: 10px 10px 0 0;
    background-position: 678px 80px;
  }

  > .description {
    font-size: 16px;
    padding: 8px;
    text-align: justify;
  }

  > .create-post {
    padding: 8px;
  }
}

.comment-field {
  width: 100%;
  margin-top: 20px;
  > form {
    padding: 12px 12px 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  > form label {
    font-size: 14px;
    color: $text-mute;
  }
  > form textarea {
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    resize: none;
    height: 150px;
    min-height: 100px;
    padding: 8px;
    margin: 8px 0;
  }

  > form input[type='submit'] {
    background-color: $main-button;
    padding: 8px;
    width: 150px;
    max-width: 80%;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid $main-button;
    align-self: flex-end;
    border-radius: 5px;
  }

}

.create-button {
  color: white;
  background-color: $main-button;
  border: 0;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid white; 
  > a {
    text-decoration: none;
    color: white;
  }
}

.create-button:hover {
  transition: all 0.5s ease;
  background-color: white;
  color: $main-button;
  border: 1px solid $main-button;
  > a {
    color: $main-button;
    transition: all 0.5s ease;
  }
} 

blockquote  {
  display: flex;
  flex-direction: row; 
  margin-left: 4px;

}

.comments {
  padding: 4px 12px;
  > .username {
    display: block;
    font-size: 12px;
  }

  > .username a {
    text-decoration: none;
    margin-right: 5px;
  }
  > .comment-body {
    display: block;
    padding-top: 5px;
  }
    

}
.arrows {
  display: flex;
  flex-direction: column;
  > ion-icon {
    font-size: 16px;
  }
  > .vertical-line {
    display: block;
    font-size: 16px;
    height: 100%;
    width: 50%;
    border-right: 2px solid rgb(206, 206, 206);
  }
}

.dropdown-comment{display:none}

.dropdown-comment:checked ~ .display-comment{
  max-height:300px;
  transition:max-height 0.5s ease-in;
}

ul.display-comment{
  max-height:0;
  padding:0;
  overflow:hidden;
  list-style-type:none;
  transition:max-height 0.5s ease-out;
  position:absolute;
}
ul.display-comment li a{
  display:block;
  transition:background .3s;
  white-space:nowrap;
}



 

