// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

@import url('https://fonts.googleapis.com/css?family=Roboto');
$grey: #E5E5E5; 
$blue: #32a2d1;
$font-family: 'Roboto', sans-serif;
$text-mute: #B2B2B2;
$red: #B13232;

body {
  background-color: $grey;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 8% auto;
  grid-template-columns: 60% auto;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  font-family: $font-family;
}

.top-nav {
  grid-row: 1;
  grid-column: 1 / 3;
  background-color: white; 
}

.main-content {
  grid-row: 2;
  grid-column: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  > .content {
    background-color: white;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

.side-content {
  grid-row: 2;
  grid-column: 2;
  width: 65%;
  > .popular {
    background-color: white;
    border-radius: 10px;
  }

  > .advertisement {
    background-color: yellow;
  }
}

.navbar {
  display: inline-flex;
  width: 100%;
  list-style: none;
  padding: 5px 20px;
  margin: 0;
  box-sizing: border-box;
  justify-content: space-between;
  > .button-group {
    display: flex;
    padding: 8px 0;
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  > li ion-icon {
    font-size: 20px;
    background-color: $blue;
    border-radius: 50%;
    padding: 4px;
    width: 20px;
    height: 20px;
    color: white;
    margin-top: 8px;
  }
  
  > li .logo-text {
    font-size: 14px;
    line-height: 3.3;
    margin-left: 8px;
  }

  > li .post-body {
    font-size: 14px;
    line-height: 3.3;
    margin-left: 40px;
  }
}

.list {
  display: flex;
  padding: 8px 0;
  > li ion-icon {
    font-size: 24px;
    font-weight: 400;
    padding: 4px;
  }
  > li ion-icon:hover {
    transition: background-color 0.8s ease;
    background-color: $blue;
    color: white;
  }
  > .search input {
    padding: 8px;
    margin: 0 12px;
    border: 0;
    background-color: $grey;
    width: 300px;
    max-width: 400px;
  }
}

.user-button {
  background-color: $red;
  box-sizing: border-box;
  font-weight: 550;
  letter-spacing: 0.7px;
  line-height: 24px;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px 16px;
  margin: 0 15px;
  font-size: 16px;
  width: 100px;
  border: 1px solid $red;
}


.login-button {
  background-color: white;
  box-sizing: border-box;
  font-weight: 550;
  letter-spacing: 0.7px;
  line-height: 24px;
  color: $blue;
  border: 0;
  border-radius: 5px;
  padding: 5px 16px;
  margin: 0 15px;
  font-size: 14px;
  width: 100px;
  border: 1px solid $blue
}

.sign-up-button {
  background-color: $blue;
  box-sizing: border-box;
  font-weight: 550;
  letter-spacing: 0.7px;
  line-height: 24px;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 5px 16px;
  margin: 0 15px;
  font-size: 14px;
  width: 100px;
  border: 1px solid $blue
}

.login-button:hover {
  transition: all 0.5s ease;
  background-color: $blue;
  color: white;
}

.sign-up-button:hover {
  transition: all 0.5s ease;
  background-color: white;
  color: $blue;
  border: 1px solid $blue
}

.content {
  display: grid;
  grid-template-columns: 5% 95%;
  > .side-bar {
    grid-column: 1;
  }
  > .inner-content {
    grid-column: 2;
    grid-row: 1;
  }

  > .comment-section {
    grid-column: 1 / 3;
    padding: 20px 15px;
  }
}

.side-bar {

  padding: 8px;
  border-radius: 10px 0 0 10px;
  > ion-icon {
    font-size: 24px;
    padding: 4px;
  }
  > span {
    font-size: 12px;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }
  
}

.inner-content {
  padding: 12px 28px 12px 12px;

  > .title {
    padding: 8px 0;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight: bold;
  }
}

.option-list {
    display: flex;
    align-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 12px 0 0 0;
    width: 100%;
    > .comment-bar ion-icon {
      font-size: 14px;
      color: $text-mute;
      padding: 0;
    }
    
    > .comment-bar span {
      font-size: 14px;
      margin: 0 6px 0 2px;
      color: $text-mute;
      text-decoration: none;
    }

    > .share ion-icon {
      font-size: 14px;
      margin: 0 2px 0 6px;
      color: $text-mute;
      padding: 0;
    }

    > .share span {
      font-size: 14px;
      color: $text-mute;
      padding: 0;
    }

    > .more {
      font-size: 20px;
      font-weight: bold;
      padding: 0 0 0 12px;
      color: $text-mute ;
    }
    > .show-comment-field {
      width: 100%;
    }
    > .show-comment-field ion-icon {
      font-size: 16px;
      color: $text-mute;
    }

}

.user {
  display: flex;
  flex-direction: row;
  > .thread {
    font-size: 12px;
    font-weight: 600; 
    padding: 4px; 
    letter-spacing: 0.5px;
  }
  > .icon {
    background-color: #B13232;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  > .posted-by {
    font-size: 12px;
    padding: 4px;
    color: $text-mute;
    letter-spacing: 0.5px;
  }
}


.popular {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  > .head {
    height: 60px; 
    background-image: url('http://romeostreeservice.com/communities/6/000/001/644/016//images/12819213.png');
    border-radius: 10px 10px 0 0;
    background-position: 678px 80px;
  }

  > .description {
    font-size: 16px;
    padding: 8px;
    text-align: justify;
  }

  > .create-post {
    padding: 8px;
  }
}

.create-button {
  color: white;
  background-color: $blue;
  border: 0;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid white; 
  > a {
    text-decoration: none;
    color: white;
  }
}

.create-button:hover {
  transition: all 0.5s ease;
  background-color: white;
  color: $blue;
  border: 1px solid $blue;
  > a {
    color: $blue;
    transition: all 0.5s ease;
  }
} 

.modal-create {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-create:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-create > div {
  width: 900px;
  max-width: 70%;
  height: 470px;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  color: #444444;    
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);   
}

.modal-creat > .title {
  font-size: 16px;
  margin: 8px 0 8px 0;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}


.modal-close:hover {
  color: #000;
}

.form-create {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
  margin: 0;
  padding-top: 10px;

  > input, textarea{
    background-color: #e5e5e5;
    border-radius: 5px;
    border: 0;
    width: 100%;
    font-size: 14px;
    padding: 12px 16px;
  }

  > textarea {
    height: 250px;
    max-height: 80%;
  }

  > input[name='commit'] {
    background-color: $blue;
    padding: 10px;
    width: 200px;
    max-width: 80%;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid $blue;
    margin: 10px 0 0 0;
  }

  > input[name='commit']:hover {
    transition: all 0.5 ease;
    background-color: #FFF;
    color: $blue;
  }

  > label {
    background-color: pink;
    display: none;
  }

  ::placeholder {
    color: $text-mute;
    font-size: 14px;
  }

}

form {
  padding: 12px 12px 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
form label {
  font-size: 14px;
  color: $text-mute;
}

.comment-field {
  width: 100%;
  margin-top: 20px;
 
  > form textarea {
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    resize: none;
    height: 150px;
    min-height: 100px;
    padding: 8px;
    margin: 8px 0;
  }

  > form input[type='submit'] {
    background-color: $blue;
    padding: 8px;
    width: 150px;
    max-width: 80%;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid $blue;
    align-self: flex-end;
    border-radius: 5px;
  }

}

.create-button {
  color: white;
  background-color: $blue;
  border: 0;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid white; 
  > a {
    text-decoration: none;
    color: white;
  }
}

.create-button:hover {
  transition: all 0.5s ease;
  background-color: white;
  color: $blue;
  border: 1px solid $blue;
  > a {
    color: $blue;
    transition: all 0.5s ease;
  }
} 

blockquote  {
  display: flex;
  flex-direction: row; 
  margin-left: 4px;

}

.comments {
  width: 100%;
  padding: 4px 12px;

  > .username {
    display: block;
    font-size: 12px;
  }

  > .username a {
    text-decoration: none;
    margin-right: 5px;
  }

  > .comment-body {
      width: 100%;
      overflow-wrap: break-word;
      hyphens: auto;
      text-overflow: ellipsis;
      overflow: hidden;
  }

     
}
.arrows {
  display: flex;
  flex-direction: column;
  > ion-icon {
    font-size: 16px;
  }
  > .vertical-line {
    display: block;
    font-size: 16px;
    height: 100%;
    width: 50%;
    border-right: 2px solid rgb(206, 206, 206);
  }
}
details summary::-webkit-details-marker {
  display:none;
}

details {
  display: inline-flex;
  width: 80%;
  > summary {
    color: $text-mute;
    font-size: 14px;
  }

  > form textarea {
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    resize: none;
    height: 40px;
    min-height: 80px;
    padding: 8px;
    margin: 8px 0;
  }

  > form input[type='submit'] {
    background-color: $blue;
    padding: 8px;
    width: 100px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid $blue;
    align-self: flex-end;
    border-radius: 5px;
  }
}

.-info {
  > li {
    padding: 15px 5px;
  }
}


@media (max-width: 768px) {
  body {
    background-color: $grey;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 8% auto;
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .top-nav {
    grid-row: 1;
    grid-column: 1;
    background-color: white; 
  }

  .main-content {
    grid-row: 2;
    grid-column: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .content {
      background-color: white;
      width: 90%;
      border-radius: 10px;
      margin-bottom: 20px;
    }
  }

  .side-content {
    display: none;
  }


}



