// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Roboto');
$font-family: Roboto, sans-serif;
$blue: #32A2D1; 
$red:  #B13232;
$grey: #E5E5E5;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url('http://desktopography.net/wp-content/uploads/bfi_thumb/Mart_Biemans_Resting_Place-32f54nn7h479xcbj64oc8w.jpg');
  background-position: 600px 0px;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.parent-container{
  background: #FFF;
  display: grid;
  grid-template-rows: auto 25% 25% auto;
  grid-template-columns: 40% 15% 15% 30%;
  width: 70%;
  height: 100%;
  font-family: $font-family;
  padding: 20px 45px;
  box-shadow: 6px 0 100px #0000004e;
}

.nav-bar {
  grid-row: span 1;
  grid-column: span 4;

  > .logo{
    background: $blue;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: white;
    font-weight: bold;
  }
}


form {
  grid-row: span 2;
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 325px;
  margin: 0;

  > input{
    background-color: #E5E5E5;
    border-radius: 5px;
    border: 0;
    width: 300px;
    height: 50px;
    font-size: 16px;
    padding-left: 10px;
  }

  > input[name='commit'] {
    background-color: $blue;
    border-radius: 5px;
    border: 0;
    width: 200px;
    height: 50px;
    color: #FFF;
    font-size: 18px;
    box-shadow: 6px 4px 4px #0000004e;
  }

  > label {
    background-color: pink;
    display: none;
  }

  ::placeholder {
  font-size: 18px;
  padding-left: 10px;
  }

}

.main-content {
  grid-row: span 2;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
  width: 450px;
  padding: 10px 12px;

  > h1 {
    color: #000000;
    font-size: 32px;
    font-weight: normal;
  }
}

.user-login {
  grid-row: span 1;
  grid-column: span 1;
  display: flex;
  justify-content: start;
  padding: 15px 5px 5px 0;

  > h1 {
    font-size: 18px;
    padding: 5px 5px 5px 0;
  }

  > .l {
    color: $blue;
    padding: 5px;
  }
}

@media screen and (max-width: 900px) {
  body{
    background-image: none;
    background-color: $grey;
    height: 100%
  }

  .parent-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
  }

  form {
    padding: 15px 0;

  }

  .main-content {
    padding: 25px 0;
    width: 70%;
    justify-content: space-around;

    > h1 {
      font-size: 24px;
    }
  }

  .user-login {
    padding: 15px 0;
  }

}
//Sign Up page CSS below
.user-new {
  grid-row: span 1;
  grid-column: span 4;
  display: flex;
  justify-content: start;
  padding: 15px 5px 5px 0;

  > h1 {
    font-size: 18px;
    padding: 5px 5px 5px 0;
  }

  > .l {
    color: $blue;
    padding: 5px;
    display: block;
  }
}

.forgot {
  grid-row: span 1;
  grid-column: span 1;
  padding: 15px 5px 5px 0;
  margin-top: -10%;

  > .l {
    color: $blue;
    padding: 5px;
    font-weight: none;
  }
}

form[action='/login'] {
  grid-row: span 1;
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 325px;
  margin: 0;
}

a {
  text-decoration: none;
  color: $blue;
}
